<!DOCTYPE html>
<html>
<head>
  <title>评论</title>
  <link rel="stylesheet" type="text/css" href="/main.min.css">
</head>
<body>
  <section id="content">
    <!-- 模态框 -->
    <div class="Modal-Background toggle-Modal is-Hidden">
      <div class="Center-Block Absolute-Center is-Fixed is-Variable Modal" id="Fixed-Modal">
      <div class="Center-Content">
        <div class="styled-input">
          <input id="title" type="text" required="">
          <label>标题</label>
          <span></span>
        </div>
        <div class="styled-input wide">
          <textarea id="txt" required></textarea>
          <label>内容...</label>
          <span></span>
        </div>
        <p class="tips"></p>
        <p>
          <a href="javascript:;" class="Shaw-Button trigger-Resize btn-send">确定</a>
          <a href="javascript:;" class="Shaw-Button toggle-Modal">取消</a>
        </p>
      </div>
      </div>
    </div>

    <header>
      <h1>评论</h1>
    </header>

    <section id="cd-timeline" class="cd-container">
      <div class="cd-timeline-img cd-picture cd-add toggle-Modal" title="添加">+</div>
    </section>
  </section>

  <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="/main.min.js"></script>
</body>
</html>
