<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <link rel="stylesheet" type="text/css" href="/main.min.css">
</head>
<body>
  <!-- downloaded from http://codepen.io/Lewitje/pen/BNNJjo -->
  <div class="wrapper">
    <div class="container">
      <h1>Welcome</h1>

      <form id="login-form" name="input" action="" method="post" class="form">
        <input id="username" type="text" placeholder="Username" name="username">
        <input id="password" type="password" placeholder="Password" name="password">
        <button type="submit" id="login-button">Login</button>
      </form>
    </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="/main.min.js"></script>
</body>
</html>
