{% extends 'layout.html' %}

{% block title %}时间轴{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="/styles/timeline.css">
  <link rel="stylesheet" type="text/css" href="/styles/modal.css">
{% endblock %}

{% block content %}

  <!-- 模态框 -->
  <div class="Modal-Background toggle-Modal is-Hidden">
    <div class="Center-Block Absolute-Center is-Fixed is-Variable Modal" id="Fixed-Modal">
    <div class="Center-Content">
      <div class="styled-input">
        <input id="title" type="text" required="">
        <label>标题</label>
        <span></span>
      </div>
      <div class="styled-input wide">
        <textarea id="txt" required></textarea>
        <label>内容...</label>
        <span></span>
      </div>
      <p class="tips"></p>
      <p>
        <a href="javascript:;" class="Shaw-Button trigger-Resize btn-send">确定</a>
        <a href="javascript:;" class="Shaw-Button toggle-Modal">取消</a>
      </p>
    </div>
    </div>
  </div>

  <header>
    <h1>时间轴</h1>
  </header>

  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-img cd-picture cd-add toggle-Modal" title="添加">
      <i class="iconfont icon-weibiaoti1"></i>
    </div>
    {% for message in messages %}
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
          <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture"> -->
        </div>
        <div class="cd-timeline-content">
          <h2>{{ message.title }}</h2>
          <p>{{ message.txt }}</p>
          <a href="/timeline/{{ message._id.toString() }}" class="cd-read-more">Read more</a>
          <span class="cd-date">{{ message.date }}</span>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}

{% block script %}
  <script src="/scripts/timeline.js"></script>
  <script src="/scripts/modal.js"></script>
{% endblock %}
